<div class="card">
    <div class="card-body">
        <p class="card-title text-primary">Gathering Room</p>
        <div class="row">
            <div class="col-md-4">
                <div class="row mt-2 mb-3">
                    <div class="col-6">
                        <p class="text-muted">Door Status</p>
                    </div>
                    <div class="col-6">
                        <div class="badge" [class.badge-success]="DoorStatus === 'Open'"
                            [class.badge-danger]="DoorStatus !== 'Open'">{{DoorStatus}}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row align-items-center mt-2">
                    <div class="col-4">
                        <span class="text-muted">RGBLight</span>
                    </div>
                    <div class="col-6">
                        <select class="form-select  form-control" #rgbColor>
                            <option value="Red">Red</option>
                            <option value="Blue">Blue</option>
                            <option value="Yellow">Yellow</option>
                            <option value="White">White</option>
                            <option value="Off">Off</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-success btn-rounded btn-icon"
                            (click)="SetRoomColor(rgbColor.value)">
                            <i class="fa fa-paper-plane-o"></i>
                        </button>
                    </div>
                </div>

                <div class="row align-items-center mt-2">
                    <div class="col-4">
                        <span class="text-muted">Door</span>
                    </div>
                    <div class="col-6">
                        <select class="form-select form-control" #newDoorStatus>
                            <option value="Open">Open</option>
                            <option value="Close">Close</option>
                            <option value="Undefined">Reset</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-success btn-rounded btn-icon"
                            (click)="changeDoorStatus(newDoorStatus.value)">
                            <i class="fa fa-paper-plane-o"></i>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>