<div class="card">
    <div class="card-body">
        <p class="card-title text-primary">Floor Room</p>
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <div class="col-4">
                        <p class="text-muted">Team Name</p>
                    </div>
                    <div class="col">
                        <span class="text-primary font-weight-medium">{{TeamName ==""?"--":TeamName}}</span>
                    </div>
                </div>


                <div class="row">
                    <div class="col-4">
                        <p class="text-muted">Score</p>
                    </div>
                    <div class="col">
                        <span class="text-primary font-weight-medium">{{Score}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <p class="text-muted">Time</p>
                    </div>
                    <div class="col">
                        <span class="text-primary font-weight-medium">{{roomTime}}</span>
                    </div>
                </div>

            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-4">
                        <p class="text-muted">Game</p>
                    </div>
                    <div class="col">
                        <div class="badge badge-success">{{isOnline}}</div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-4">
                        <p class="text-muted">Is Occupied</p>
                    </div>
                    <div class="col">
                        <div class="badge" [class.badge-success]="roomStatus === 'Empty'"
                            [class.badge-danger]="roomStatus !== 'Empty'">
                            {{roomStatus === 'Empty'?"False":"true"}}</div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-4">
                        <p class="text-muted">Room Status</p>
                    </div>
                    <div class="col">
                        <div class="badge badge-info">{{roomStatus}}</div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-4">
                        <p class="text-muted">Door Status</p>
                    </div>
                    <div class="col">
                        <div class="badge" [class.badge-success]="DoorStatus === 'Open'"
                            [class.badge-danger]="DoorStatus !== 'Open'">{{DoorStatus}}</div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row align-items-center">
                    <div class="col-4">
                        <span class="text-muted">Room Status</span>
                    </div>
                    <div class="col-6">
                        <select class="form-select  form-control" #newroomStatus>
                            <option value="Empty">Empty</option>
                            <option value="NotStarted">Not Started</option>
                            <option value="Started">Started</option>
                            <option value="FinishedNotEmpty">Finish</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-success btn-rounded btn-icon"
                            (click)="changeRoomStatus(newroomStatus.value)">
                            <i class="fa fa-paper-plane-o"></i>
                        </button>
                    </div>
                </div>
                <div class="row align-items-center mt-2">
                    <div class="col-4">
                        <span class="text-muted">RGBLight</span>
                    </div>
                    <div class="col-6">
                        <select class="form-select  form-control"  #rgbColor>
                            <option value="Red">Red</option>
                            <option value="Blue">Blue</option>
                            <option value="Yellow">Yellow</option>
                            <option value="White">White</option>
                            <option value="Off">Off</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-success btn-rounded btn-icon" (click) ="SetRoomColor(rgbColor.value)">
                            <i class="fa fa-paper-plane-o"></i>
                        </button>
                    </div>
                </div>

                <div class="row align-items-center mt-2">
                    <div class="col-4">
                        <span class="text-muted">Door</span>
                    </div>
                    <div class="col-6">
                        <select class="form-select form-control" #newDoorStatus>
                            <option value="Open">Open</option>
                            <option value="Close">Close</option>
                            <option value="Undefined">Reset</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-success btn-rounded btn-icon"
                            (click)="changeDoorStatus(newDoorStatus.value)">
                            <i class="fa fa-paper-plane-o"></i>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>