<div class="container-scroller">
  <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
      <a class="navbar-brand brand-logo mr-5" href="index.html"><img src="../assets/images/xogame.png" class="mr-2"
          alt="logo" /></a>
      <a class="navbar-brand brand-logo-mini" href="index.html"><img src="../assets/images/xogame.png" alt="logo" /></a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item dropdown">
          <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
            <i class="icon-bell mx-0"></i>
            <span class="count"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
            aria-labelledby="notificationDropdown">
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-success">
                  <i class="ti-info-alt mx-0"></i>
                </div>
              </div>
            </a>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-warning">
                  <i class="ti-settings mx-0"></i>
                </div>
              </div>
            </a>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-info">
                  <i class="ti-user mx-0"></i>
                </div>
              </div>

            </a>
          </div>
        </li>
        <li class="nav-item nav-settings d-none d-lg-flex">
          <a class="nav-link" href="#">
            <i class="icon-ellipsis"></i>
          </a>
        </li>
      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
        data-toggle="offcanvas">
        <span class="icon-menu"></span>
      </button>
    </div>
  </nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <div class="theme-setting-wrapper">
      <div id="settings-trigger">
        <i class="fa fa-hand-peace-o"></i>
      </div>
      <div id="theme-settings" class="settings-panel">
      </div>
    </div>

    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link">
            <i class="icon-grid menu-icon"></i>
            <span class="menu-title">Dashboard</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="row">
              <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                <h3 class="font-weight-bold">Welcome Admin</h3>
                <h6 class="font-weight-normal mb-0">All systems are running smoothly!</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 grid-margin transparent">
            <div class="row">
              <app-room-card class="col" color="card-dark-blue" roomName="Gathering Room" roomStatus="Gathering Room"
              [roomTime]="FortTime | timeFormat" (click)="showGathering()"></app-room-card>
            </div>
            <div class="row">
              <app-room-card class="col" color="card-tale" roomName="Fort Room" [roomStatus]="FortRoomStatus"
                [roomTime]="FortTime | timeFormat" (click)="showFort()"></app-room-card>
              <app-room-card class="col" color="card-dark-blue" roomName="Shooting Room"
                [roomStatus]="ShootingRoomStatus" [roomTime]="ShootingTime | timeFormat"
                (click)="showShooting()"></app-room-card>
              <app-room-card class="col" color="card-light-danger" roomName="Diving Room"
                [roomStatus]="DivingRoomStatus" [roomTime]="DivingTime | timeFormat"
                (click)="showDiving()"></app-room-card>
              <app-room-card class="col" roomName="Plus/Minus Room" [roomStatus]="PlusRoomStatus"
                (click)="showPlus()"></app-room-card>
              <app-room-card class="col" color="card-success" roomName="Floor Is Lava Room"
                [roomStatus]="FloorIsLavaRoomStatus" (click)="showFloor()"></app-room-card>
            </div>
          </div>
        </div>
        <div class="row">
          <app-gathering-room class="col grid-margin stretch-card" *ngIf="showGatheringRoom"
            [roomTime]="GatheringTime | timeFormat" [DoorStatus]="GatheringDoorStatus" [isOnline]="GatheringIsOnline"
            [TeamName]="GatheringTeamName" [Score]="FortScore"></app-gathering-room>
          <app-fort-room class="col grid-margin stretch-card" *ngIf="showFortRoom" [roomStatus]="FortRoomStatus"
            [roomTime]="FortTime | timeFormat" [DoorStatus]="FortDoorStatus" [isOnline]="FortIsOnline"
            [TeamName]="FortTeamName" [Score]="FortScore"></app-fort-room>
          <app-shooting-room class="col grid-margin stretch-card" *ngIf="showShootingRoom"
            [roomStatus]="ShootingRoomStatus" [roomTime]="ShootingTime | timeFormat" [DoorStatus]="ShootingDoorStatus"
            [isOnline]="ShootingIsOnline" [TeamName]="ShootingTeamName" [Score]="ShootingScore"></app-shooting-room>
          <app-diving-room class="col grid-margin stretch-card" *ngIf="showDivingRoom" [roomStatus]="DivingRoomStatus"
            [roomTime]="DivingTime | timeFormat" [DoorStatus]="DivingDoorStatus" [isOnline]="DivnigIsOnline"
            [TeamName]="DivnigTeamName" [Score]="DivnigScore"></app-diving-room>
          <app-plus-room class="col grid-margin stretch-card" *ngIf="showPlusMinusRoom"  
          [roomStatus]="PlusRoomStatus"
          [roomTime]="PlusTime | timeFormat" [DoorStatus]="PlusDoorStatus" [isOnline]="PlusIsOnline"
          [TeamName]="PlusTeamName" [Score]="PlusScore"></app-plus-room>
          <app-floor-room class="col grid-margin stretch-card" *ngIf="showFloorIsLavaRoom"
          [roomStatus]="FloorIsLavaRoomStatus"
          [roomTime]="FloorIsLavaTime | timeFormat" [DoorStatus]="FloorIsLavaDoorStatus" [isOnline]="FloorIsLavaIsOnline"
          [TeamName]="FloorIsLavaTeamName" [Score]="FloorIsLavaScore"
          
          ></app-floor-room>
        </div>
      </div>
      <!-- content-wrapper ends -->
      <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
          <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Designed by <a href="manarajo.com"
              target="_blank">ManaraLab</a></span>
        </div>
      </footer>
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>