<div class="card">
    <div class="card-body">
        <p class="card-title text-primary">Shooting Room</p>
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <div class="col-4">
                        <p class="text-muted">Team Name</p>
                    </div>
                    <div class="col">
                        <span class="text-primary font-weight-medium">Warriors</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <p class="text-muted">Score</p>
                    </div>
                    <div class="col">
                        <span class="text-primary font-weight-medium">20</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <p class="text-muted">Time</p>
                    </div>
                    <div class="col">
                        <span class="text-primary font-weight-medium">05:21</span>
                    </div>
                </div>

            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-4">
                        <p class="text-muted">Game</p>
                    </div>
                    <div class="col">
                        <div class="badge badge-success">Online</div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-4">
                        <p class="text-muted">Is Occupied</p>
                    </div>
                    <div class="col">
                        <div class="badge badge-success">true</div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-4">
                        <p class="text-muted">Room Status</p>
                    </div>
                    <div class="col">
                        <div class="badge badge-warning">Not Started</div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-4">
                        <p class="text-muted">Door Status</p>
                    </div>
                    <div class="col">
                        <div class="badge badge-danger">Closed</div>
                    </div>
                </div>


            </div>
            <div class="col-4">
                <div class="row align-items-center">
                    <div class="col-4">
                        <span class="text-muted">Room Status</span>
                    </div>
                    <div class="col-6">
                        <select class="form-select  form-control">
                            <option value="start">Empty</option>
                            <option value="Stop">Not Started</option>
                            <option value="Stop">Started</option>
                            <option value="Stop">Leaving</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-success btn-rounded btn-icon">
                            <i class="fa fa-paper-plane-o"></i>
                        </button>
                    </div>
                </div>
                <div class="row align-items-center mt-2">
                    <div class="col-4">
                        <span class="text-muted">RGBLight</span>
                    </div>
                    <div class="col-6">
                        <select class="form-select  form-control">
                            <option value="start">Red</option>
                            <option value="Stop">Blue</option>
                            <option value="Stop">Yellow</option>
                            <option value="Stop">White</option>
                            <option value="Stop">Off</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-success btn-rounded btn-icon">
                            <i class="fa fa-paper-plane-o"></i>
                        </button>
                    </div>
                </div>

                <div class="row align-items-center mt-2">
                    <div class="col-4">
                        <span class="text-muted">Door</span>
                    </div>
                    <div class="col-6">
                        <select class="form-select  form-control">
                            <option value="start">Open</option>
                            <option value="Stop">Close</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-success btn-rounded btn-icon">
                            <i class="fa fa-paper-plane-o"></i>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>